body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.header {
  padding-top: 32px;
}

.hero-main-container {
  padding: 0 300px;
}

.hero-main-container,
.footer {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
  width: 350px;
}

.hero-sub-title {
  color: #e5e7eb;
  font-size: 18px;
  width: 450px;
}

.hero-img-placeholder {
  color: white;
  background-color: rgb(224, 224, 224, 0.4);
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-signup {
  color: white;
  background-color: #3882f6;
  padding: 8px 32px;
  border: none;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  color: #f9faf8;
  font-size: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.body {
  flex: 1;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 90px 0;
}

.info {
  display: flex;
  justify-content: center;
  gap: 100px;
  text-align: center;
}

.info-container {
  margin: 90px 0;
}

.cards {
  max-width: 150px;
}

.img-border {
  width: 150px;
  height: 150px;
  border: solid #3882f6;
  border-radius: 8px;
  margin-bottom: 16px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}
