body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-main-container,
.body,
.footer {
  padding: 32px 64px;
}

.hero-main-container,
.footer {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  display: flex;
  justify-content: space-between;
}

.body {
  flex: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}
